[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:abseil/googletest.git

[submodule "extern/gl3w"]
	path = extern/gl3w
	url = git@github.com:skaslev/gl3w.git

[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "extern/assimp"]
	path = extern/assimp
	url = git@github.com:assimp/assimp.git
